:root {
    --bgMain: #FFFFFF; /* background color */
    --fcBase: #fff; /* font color */
    --bgMenuActive: #2f2f2f; /* background color of active menu item */
    --bcMenuActive: #fffb00; /* border color of active menu item */
    --primaryColor: #2596be; /* primary color */
    --secondaryColor: #9343d1; /* secondary color */
    --bgMenuActive: #808080; /* background color of menu item when active */
    --bgButton: #63199b; /* background color of button */
    --logoImageUrl: url('https://raw.githubusercontent.com/diegostan/healthchecks-aspnet5/main/images/baltaLogo.png'); /* logo image url */
    --bgAside: var(--primaryColor); /* background color of aside */
    --bgTable: #2f2f2f; /* background color of table */    
    --bgTableSecondary: #2596be; /* secondary background color of table */
}

.hc-table__row {
    cursor: pointer;
    background-color: black;
    opacity: 1 !important;
}
    .hc-table__row:hover {
        cursor: pointer !important;
        background-color: green !important;
        opacity: 1 !important;
        transition: 2s !important;
    }

header .hc-status{
    color:black
}
h2{
    color:black
}
/*Simbolo da coluna Details*/
button .material-icons{
    color:white
}

/*Simbolo do X do painel de Details*/
aside .hc-action-btn .material-icons {
    color: black
}
