
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
Aula02_DominandoAspNetMVCCore/Aula04_Views/A.4_DemoMvcViews/.vs/A.4_DemoMvcViews/DesignTimeBuild/.dtbcache.v2
Aula02_DominandoAspNetMVCCore/Aula04_Views/A.4_DemoMvcViews/.vs/A.4_DemoMvcViews/v17/.suo
Aula02_DominandoAspNetMVCCore/Aula04_Views/A.4_DemoMvcViews/.vs/A.4_DemoMvcViews/v17/TestStore/0/000.testlog
Aula02_DominandoAspNetMVCCore/Aula04_Views/A.4_DemoMvcViews/.vs/A.4_DemoMvcViews/v17/TestStore/0/testlog.manifest
Aula02_DominandoAspNetMVCCore/Aula04_Views/A.4_DemoMvcViews/.vs/ProjectEvaluation/a.4_demomvcviews.metadata.v2
Aula02_DominandoAspNetMVCCore/Aula04_Views/A.4_DemoMvcViews/.vs/ProjectEvaluation/a.4_demomvcviews.projects.v2
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI/.vs/MinhaPrimeiraAPI/FileContentIndex/308c89b1-e108-41b1-a349-cc7e5231b9df.vsidx
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI/.vs/MinhaPrimeiraAPI/FileContentIndex/41a25c92-2f37-4e36-9fe6-8f5e74ed127c.vsidx
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI/.vs/MinhaPrimeiraAPI/FileContentIndex/7c581e81-4331-471b-a363-0a525a11071f.vsidx
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI/.vs/MinhaPrimeiraAPI/FileContentIndex/a7ea1a2e-ab4f-4748-a01e-01a7c0a5878d.vsidx
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI/.vs/MinhaPrimeiraAPI/FileContentIndex/b941e5a3-ed97-4c9e-9725-0c1e2b075a3a.vsidx
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI/.vs/MinhaPrimeiraAPI/FileContentIndex/c38338a8-42ba-4cd4-8995-d99bdeb814bb.vsidx
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI/.vs/MinhaPrimeiraAPI/v17/.suo
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI/.vs/MinhaPrimeiraAPI/v17/TestStore/0/000.testlog
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI/.vs/MinhaPrimeiraAPI/v17/TestStore/0/testlog.manifest
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI2/.vs/MinhaPrimeiraAPI2/DesignTimeBuild/.dtbcache.v2
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI2/.vs/MinhaPrimeiraAPI2/FileContentIndex/1095bbff-781c-4e4b-b3a5-7f0cca4dc8c0.vsidx
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI2/.vs/MinhaPrimeiraAPI2/FileContentIndex/593f528c-5ae5-47da-ac2c-e91331a12117.vsidx
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI2/.vs/MinhaPrimeiraAPI2/FileContentIndex/5a20f8bd-4faa-4bf2-ae8d-e3201257e650.vsidx
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI2/.vs/MinhaPrimeiraAPI2/FileContentIndex/f6185fb1-a67e-492d-8931-8fdfa46a61b4.vsidx
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI2/.vs/MinhaPrimeiraAPI2/v17/.suo
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI2/.vs/MinhaPrimeiraAPI2/v17/TestStore/0/000.testlog
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI2/.vs/MinhaPrimeiraAPI2/v17/TestStore/0/testlog.manifest
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI2/.vs/ProjectEvaluation/minhaprimeiraapi2.metadata.v2
Aula03_RestAspNetCoreWebAPI/Aula03_NovoProjeto/MinhaPrimeiraAPI2/.vs/ProjectEvaluation/minhaprimeiraapi2.projects.v2
Aula04_AspNetCoreEnterpriseApplications/NerdStore-master/.vs/NerdStore/DesignTimeBuild/.dtbcache.v2
Aula04_AspNetCoreEnterpriseApplications/NerdStore-master/.vs/NerdStore/FileContentIndex/2a8916a1-826f-409f-8910-1d16969e544f.vsidx
Aula04_AspNetCoreEnterpriseApplications/NerdStore-master/.vs/NerdStore/FileContentIndex/ef3db3f5-d832-4699-bc26-6a2721baedea.vsidx
Aula04_AspNetCoreEnterpriseApplications/NerdStore-master/.vs/NerdStore/FileContentIndex/read.lock
Aula04_AspNetCoreEnterpriseApplications/NerdStore-master/.vs/NerdStore/v17/.futdcache.v1
Aula04_AspNetCoreEnterpriseApplications/NerdStore-master/.vs/NerdStore/v17/.suo
Aula04_AspNetCoreEnterpriseApplications/NerdStore-master/.vs/NerdStore/v17/TestStore/0/000.testlog
Aula04_AspNetCoreEnterpriseApplications/NerdStore-master/.vs/NerdStore/v17/TestStore/0/testlog.manifest
Aula04_AspNetCoreEnterpriseApplications/NerdStore-master/.vs/ProjectEvaluation/nerdstore.metadata.v2
Aula04_AspNetCoreEnterpriseApplications/NerdStore-master/.vs/ProjectEvaluation/nerdstore.projects.v2
Aula04_AspNetCoreEnterpriseApplications/NerdStore2/NerdStore-master (2)/NerdStore-master/src/services/NS.Identidade.API/Configuration/IdentityConfig.cs
Aula09_DominandoTestesSoftware/03/07_15/TestesDeSoftware/.vs/ProjectEvaluation/testesdesoftware.metadata.v2
Aula09_DominandoTestesSoftware/03/07_15/TestesDeSoftware/.vs/ProjectEvaluation/testesdesoftware.projects.v2
Aula09_DominandoTestesSoftware/03/07_15/TestesDeSoftware/.vs/TestesDeSoftware/DesignTimeBuild/.dtbcache.v2
Aula09_DominandoTestesSoftware/03/07_15/TestesDeSoftware/.vs/TestesDeSoftware/FileContentIndex/93235486-ae64-494e-94fa-a9bbd540d7a6.vsidx
Aula09_DominandoTestesSoftware/03/07_15/TestesDeSoftware/.vs/TestesDeSoftware/FileContentIndex/fb7a58db-57f0-45a8-91cf-d1f02796fb13.vsidx
Aula09_DominandoTestesSoftware/03/07_15/TestesDeSoftware/.vs/TestesDeSoftware/v17/.suo
